{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)
  - placeholder_image: {String} Placeholder image when collection is empty (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}
{%- liquid
   
   if block.settings.image != blank
        assign collection_image = block.settings.image
        assign collection_image_alt = block.settings.image.alt | escape
    elsif collection.image != blank
        assign collection_image = card_collection.image
        assign collection_image_alt = card_collection.image.alt | escape
    else collection.empty? == false
        assign collection_image = card_collection.products.first.featured_image
        assign collection_image_alt = card_collection.products.first.featured_image.alt | escape
    endif
   
  assign ratio = 1
  if collection_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif collection_image and media_aspect_ratio == 'adapt'
    assign ratio = collection_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

<style>
  #block-id-{{ block.id }} .card__content .card__heading {
    {% if block.settings.text_color %}
      color: {{ block.settings.text_color }};  
    {% endif %}
    {% if block.settings.bg_color and block.settings.text_with_background %}
      background-color: {{ block.settings.bg_color }};
    {% elsif block.settings.bg_color and block.settings.text_overlay %}
      background-color: {{ block.settings.bg_color }};
    {% endif %}
  }
</style>

<div id="block-id-{{ block.id }}" class="card-wrapper animate-arrow {% if wrapper_class and wrapper_class != 'none' %}{{ wrapper_class }}{% else %}collection-card-wrapper{% endif %}">
  <div
    class="
      card
      card--{{ card_style }}
      {% if collection_image %} card--media{% else %} card--text{% endif %}
      {% if card_style == 'card' %} color-{{ card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if collection_image == nil and card_style == 'card' %} ratio{% endif %}
    "
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  >
    <div
      class="card__inner {% if card_style == 'standard' %}color-{{ card_color_scheme }} gradient{% endif %}{% if collection_image or card_style == 'standard' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      {%- if collection_image -%}
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              srcset="
                {%- if collection_image.width >= 165 -%}{{ collection_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if collection_image.width >= 330 -%}{{ collection_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if collection_image.width >= 535 -%}{{ collection_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if collection_image.width >= 750 -%}{{ collection_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if collection_image.width >= 1000 -%}{{ collection_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if collection_image.width >= 1500 -%}{{ collection_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if collection_image.width >= 3000 -%}{{ collection_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {{ collection_image | image_url }} {{ collection_image.width }}w
              "
              src="{{ collection_image | image_url: width: 1500 }}"
              sizes="
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                calc(100vw - 3rem)
              "
              alt=""
              height="{{ collection_image.height }}"
              width="{{ collection_image.width }}"
              loading="lazy"
              class="motion-reduce"
            >
          </div>
        </div>      
      {%- endif -%}
      {%- if card_collection == blank and collection_image == blank -%}
        <div class="card__media">
          {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
        </div>        
      {%- endif -%}
      {% if block or card_collection != blank %}
        <div class="card__content {% if block.settings.text_overlay == true %}card__content-overlay{% endif %}">
          <div class="card__information">
            <h3 class="card__heading">
              <a
                {% if block.settings.custom_link != blank %}
                  role="link" aria-disabled="true"
                  href="{{ card_collection.url }}"
                {% else %}
                  href="{{ card_collection.url }}"
                {% endif %}
                class="full-unstyled-link"
              >
                {%- if block.settings.text != blank -%}
                  {{ block.settings.text }}
                {%- elsif card_collection.title != blank -%}
                  {{- card_collection.title | escape -}}                
                {%- endif -%}
                {%- if block.settings.enable_arrow -%}
                  <span class="icon-wrap">{% render 'icon-arrow' %}</span>
                {%- endif %}
              </a>
            </h3>            
          </div>
        </div>
      {% endif %}
    </div>
    {%- if block != blank or card_collection != blank and card_style == 'card' or collection_image -%}
      {% if block.settings.text_overlay == false %}
        <div class="card__content{% if block.settings.text_with_background %} card__content--under-image-with-bg{% endif %}">
          <div class="card__information">
            <h3 class="card__heading">
              <a
                {% if block.settings.custom_link != blank %}
                  role="link" aria-disabled="true"
                  href="{{ card_collection.url }}"
                {% else %}
                  href="{{ card_collection.url }}"
                {% endif %}
                class="full-unstyled-link"
              >
                {%- if block.settings.text != blank and block.settings.enable_title -%}
                  {{ block.settings.text }}
                {%- elsif card_collection.title != blank and block.settings.enable_title -%}
                  {{- card_collection.title | escape -}}              
                {%- endif -%}
                {%- if block.settings.enable_arrow -%}
                  <span class="icon-wrap">{% render 'icon-arrow' %}</span>
                {%- endif %}
              </a>
            </h3>          
          </div>
        </div>
      {% endif %}
    {%- endif -%}
    {% comment %}
    {%- if collection_image == null and card_collection.description != blank -%}
      <p class="card__caption">
        {{- card_collection.description | strip_html | truncatewords: 12 -}}
        <span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span>
      </p>
    {%- endif -%}
    {%- if card_collection == blank -%}
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading card__heading--placeholder">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.collection_title' | t }}
              <span class="icon-wrap">{% render 'icon-arrow' %}</span>
            </a>
          </h3>
        </div>
      </div>
    {%- endif -%}
    {% endcomment %}
  </div>
</div>
