{{ 'component-popup.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign id = section.id

  assign heading = section.settings.heading
  assign subheading = section.settings.subheading
  assign disclaimer = section.settings.disclaimer
  assign alignment = section.settings.alignment
  assign heading_color = section.settings.heading_color
  assign subheading_color = section.settings.subheading_color

  assign image = section.settings.image
  assign image_position = section.settings.image_position

  assign popup_delay = section.settings.popup_delay
  assign popup_days_to_hide = section.settings.popup_days_to_hide
-%}

{% style %}
    .popup__wrapper .title{
        color: {{ heading_color }}
      }
      .popup__wrapper .subheading,
      .popup__wrapper p{
        color: {{ subheading_color }}
      }

    .custom.popup__inner{
      position: relative;
      margin: 0;
      height: fit-content;
      /* background-image: url('{{ section.settings.background_image | img_url: "master" }}');
      background-size: 100%;
      background-repeat: no-repeat; */
    }
  /* .img-wrapper{
    position: absolute;
    z-index: -1;
  } */
  .img-wrapper img{
    width: 100%;
    height: auto;
  }
  .popup__content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  .img-wrapper.desktop{
        display: block;
      }
  .img-wrapper.mobile{
        display: none;
      }
    @media only screen and (max-width: 767px) {
    /* .custom.popup__inner{
      background-image: url('{{ section.settings.background_image_mobile | img_url: "master" }}');
      background-size: contain;
    } */
      .custom .popup__content {
        top: 30%;
      }

      .img-wrapper.desktop{
        display: none;
      }
      .img-wrapper.mobile{
        display: block;
      }
  }
{% endstyle %}

<div
  data-popup
  class="
    custom popup__wrapper
    {% if image != blank %} has-image {% endif %}
    image-position-{{ image_position }}
  "
>
  <div
    class=" custom popup__inner is-flex {% if image == blank %} is-align-center {% endif %} text-align-{{ alignment }} image-position-{{ image_position }}"
  >
    <div class="img-wrapper desktop">
      <img class="back-img" src="{{ section.settings.background_image | img_url: "master" }}">
    </div>
    <div class="img-wrapper mobile">
      <img class="back-img" src="{{ section.settings.background_image_mobile | img_url: "master" }}">
    </div>
    <div class="popup__content popup__content--full-widt">
      <div class="popup__header">
        {% if heading %}
          <h3 class="popup__title title">{{ heading }}</h3>
        {% endif %}

        {% if subheading %}
          <div class="popup__text subtitle">
            {{ subheading }}
          </div>
        {% endif %}
      </div>
      <div class="popup__newsletter newsletter-section--popup">
        {% render 'newsletter-form' %}
      </div>

      {% if disclaimer %}
        <div class="popup__text disclaimer">
          {{ disclaimer }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Newsletter",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Subscribe"
    },
     {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image For Desktop"
    },
     {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image For Mobile"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading",
      "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
    },
    {
      "type": "richtext",
      "id": "disclaimer",
      "label": "Disclaimer",
      "default": "<p>Your Information will never be shared with any third party.</p>"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Feature image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "presets": [
      {
        "name": "Custom Newsletter"
      }
     ]
}
{% endschema %}
